@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --background-color: hsl(226, 43%, 10%);
    --primary-color: hsl(246, 80%, 60%);
    --dark-blue: hsl(235, 46%, 20%);
    --pale-blue: hsl(236, 100%, 87%);
    --gray-color: hsl(235, 45%, 61%);
    --light-orange: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --light-yellow: hsl(43, 84%, 65%);
    --card-border-radius: 20px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1em;
}

/* ======================== REUSABLE ======================== */
.card {
    border-radius: var(--card-border-radius);
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.activityCard {
    display: grid;
    grid-template-rows: 24% 76%;
}

.iconContainer {
    text-align: right;
}

.iconContainer img{
    position: relative;
    right: 1.5em;
    top: -0.75em;
    z-index: 1;
}

.activityInfo {
    background-color: var(--dark-blue);
    color: var(--pale-blue);
    border-radius: var(--card-border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 2;
    padding: 0.5em 1em;
}

.activityInfo p {
    margin: 0;
}

.activityInfo .activityTime {
    font-size: 2em;
    margin-top: 0.25em;
}

.activitiInfoColumn {
    align-self: center;
}

.activitiInfoColumnLeft {
    justify-self: left;
    color: white;
}

.activitiInfoColumnRight {
    justify-self: right;
    text-align: right;
}


/* ======================== USER CARD ======================== */
.userCard {
    background-color: var(--dark-blue);
}

.userCard .userInfo {
    background-color: var(--primary-color);
    border-radius: var(--card-border-radius);
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    margin: auto;
    height: 70%;
    padding: 1em 0;
}

.userCard .userPicture {
    max-width: 50%;
    align-self: center;
    border: 3px solid white;
    border-radius: 100%;
    justify-self: center;
}

.reportBlock {
    align-self: center;
}

.reportBlock .report {
    color: var(--pale-blue);
    margin: 0;
}

.reportBlock .username {
    margin: 0;
    margin-top: 0.5em;
}

.userCard .timePeriod {
    background-color: var(--dark-blue);
    border-radius: var(--card-border-radius);
    width: auto;
    margin: auto;
}

.userCard .timePeriod {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--gray-color);
}

.timePeriodOption {
    justify-self: center;
}

.timePeriodOption:hover {
    color: white;
    cursor: pointer;
}

/* ======================== CARDS ======================== */
.workCard {background-color: var(--light-orange);}
.playCard {background-color: var(--soft-blue);}
.studyCard {background-color: var(--light-red);}
.exerciseCard {background-color: var(--lime-green);}
.socialCard {background-color: var(--violet);}
.selfCareCard {background-color: var(--light-yellow);}